<div class="card2 text-center">
    <div class="card-header">
        <h3>Editing Task</h3>
    </div>
    <div class="card-body">
        <%= render 'form', task: @task %>
    </div>
    <br/>
    <div class="card-footer">
        <%= link_to ' Show', @task, class: "btn btn-info bi-eye-fill space" %>
        <%= link_to ' Back', @back_url, class: "btn btn-danger bi-arrow-left-short space"%>
    </div>
</div>